.contact {
  padding: var(--padding-sub) 0 var(--padding-base);

  &__title {
    &:not(:last-child) {
      margin-bottom: var(--h2);
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(250), 1fr));
    gap: rem(30);
  }

  &__subtitle {
    &:not(:last-child) {
      margin-bottom: clamp-rem(320, 1200, 14, 30);
    }
  }

  &__link-list {
    display: flex;
    flex-direction: column;
    gap: rem(10);
  }

  &__link-item {
    display: flex;
    align-items: end;
    min-height: rem(30);
    gap: rem(10);

    a,
    address {
      font-weight: 400;
      font-style: normal;
      font-size: rem(18);
      color: var(--color-text);
    }
  }
}
