.footer {
  padding: rem(40) 0;
  background-color: var(--color-dark);

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(5);

    @media (max-width: $breakpoint576) {
      flex-direction: column;
      gap: rem(20);
    }
  }

  &__left {
  }

  &__logo {
  }

  &__right {
  }

  &__copy {
    padding-left: rem(10);
    font-weight: 400;
    font-style: normal;
    font-size: rem(16);
    line-height: 1.6;
    text-align: center;
    color: var(--color-light);
  }
}
