.title {
  font-weight: 600;
  font-style: normal;
  font-size: var(--h2);
  line-height: 1.6;
  color: var(--color-dark);

  &--center {
    text-align: center;
  }
}

.subtitle {
  font-weight: 600;
  font-style: normal;
  font-size: var(--h3);
  line-height: 1.6;
  color: var(--color-dark);
  &--tooltip {
    display: inline-block;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: em(5);
  padding: em(18) em(42);
  font-weight: 400;
  font-style: normal;
  font-size: rem(18);
  line-height: 1;
  color: var(--color-light);
  background-color: var(--color-accent);
  transition: background-color 0.3s ease-in-out;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: rem(1) solid #c6151b;
    outline-offset: rem(5);
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: #eb353b;
    }
  }

  &:active {
    background-color: #c6151b;
  }

  &--dark {
    background-color: var(--color-dark);

    &:focus-visible {
      outline: rem(1) solid #141024;
      outline-offset: rem(5);
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: #251f40;
      }
    }

    &:active {
      background-color: #100c1f;
    }
  }
}

.phone {
  border-bottom: rem(1) solid transparent;
  font-weight: 600;
  font-style: normal;
  font-size: 28px;
  line-height: lhc(48, 30); /* 48px */
  color: var(--color-light);
  transition: border-bottom 0.3s ease-in-out;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: rem(1) solid var(--color-light);
    outline-offset: rem(5);
  }

  @media (any-hover: hover) {
    &:hover {
      border-bottom: rem(1) solid var(--color-light);
    }
  }

  &:active {
    border-bottom: rem(1) solid transparent;
  }
}

.tooltip {
  display: inline-block;
  margin-left: rem(10);

  &__btn {
    border-radius: 50%;
    width: rem(24);
    height: rem(24);
    background-color: rgba(20, 16, 36, 0.08);

    &:focus {
      border: rem(1) solid var(--color-dark);
      + .tooltip__txt {
        opacity: 1;
        visibility: visible;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        + .tooltip__txt {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__txt {
    border-radius: rem(5);
    padding: rem(10) rem(20);
    box-shadow: 0 rem(2) rem(8) rgba(20, 16, 36, 0.1);
    font-weight: 400;
    font-style: normal;
    font-size: rem(16);
    line-height: 1.6;
    color: var(--color-text);
    background-color: var(--color-light);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  }
}

[hidden] {
  display: none;
}

.hidden {
  overflow: hidden auto;
  visibility: hidden;
}
