.hero {
  background-color: var(--color-bg);

  &__container {
    padding-top: clamp-rem(320, 1200, 100, 244);
    padding-bottom: clamp-rem(320, 1200, 40, 210);
  }

  &__content {
    max-width: rem(520);

    @media (max-width: $breakpoint768) {
      display: grid;
      justify-content: center;
      max-width: none;
    }
  }

  &__title {
    margin-bottom: rem(50);
    font-weight: 600;
    font-style: normal;
    font-size: var(--h1);
    line-height: 1.8;
    letter-spacing: rem(0.9);
    color: var(--color-text);

    @media (max-width: $breakpoint768) {
      text-align: center;
    }
  }
}
