.services {
  padding: var(--padding-sub) 0;
  background-color: #f9f9f9;

  &__content {
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: clamp-rem(320, 1200, 30, 60);
    }
  }

  &__list {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: rem(30) rem(20);
  }

  &__item {
    border-radius: rem(10);
  }

  &__price {
    padding: rem(20) 0;
    font-weight: 600;
  }

  &__btn {
    justify-self: start;
  }
}

.site {
  display: grid;
  grid-auto-flow: row;
  grid-template: auto 1fr minmax(rem(20), auto) minmax(rem(40), auto) / 1fr;
  padding: rem(30) rem(20);
  box-shadow: rem(0) rem(4) rem(6) rem(2) #ddd;
  background-color: var(--color-light);
  transition: box-shadow 0.15s linear;

  @media (any-hover: hover) {
    &:hover {
      box-shadow: rem(0) rem(6) rem(8) rem(5) #ddd;
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: clamp-rem(320, 1200, 5, 10);
    }
  }

  &__list {
  }

  &__item {
    font-weight: 400;
    font-style: normal;
    font-size: rem(18);
    line-height: 1.6;
    color: var(--color-text);
  }
}
