.steps {
  padding: var(--padding-base) 0;

  &__container {
    margin-bottom: clamp-rem(320, 1200, 20, 40);
    padding-left: max(#{rem(15)}, calc((100% - var(--content-width)) / 2));
  }

  &__title {
    margin-bottom: clamp-rem(320, 1200, 20, 60);
  }

  &__swapper-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: content-box;

    &.swiper-wrapper {
      align-items: stretch;
    }
  }

  &__content {
    position: relative;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
  }

  &__scroll {
    border-radius: rem(40);
    width: rem(260);
    height: rem(5);
    background: rgba(20, 16, 36, 0.08);
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: rem(20);
  }

  &__slider-btn {
    background-color: transparent;
    transition: transform 0.15s ease-in-out;

    &:focus {
    }

    &:focus-visible {
      transform: scale(1.2);
    }

    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.1);
      }
    }

    &:active {
      transform: scale(1);
    }

    &--prev {
    }

    &--next {
    }
  }
}

.swiper-scrollbar-drag {
  height: rem(5);
  background: rgba(20, 16, 36, 0.8);
}

.swiper-button-disabled {
  opacity: 0.2;

  &:focus-visible,
  &:hover,
  &:active {
    transform: none;
  }
}

.step {
  position: relative;
  flex-shrink: 0;
  transition-property: transform;

  &__item {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__img {
    svg {
      width: 100%;
      height: auto;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: rem(20);
    height: 100%;
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__text {
    font-weight: 400;
    font-style: normal;
    font-size: rem(18);
    line-height: 1.6; /* 28.8px */
    color: rgba(20, 16, 36, 0.7);

    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  &__btn {
    margin-top: auto;
    border-bottom: rem(1) solid transparent;
    text-transform: capitalize;
    color: var(--color-accent);
    background-color: transparent;
    transition: border 0.2s ease-in-out;

    &:focus-visible {
      outline: rem(1) solid var(--color-accent);
      outline-offset: rem(5);
    }

    @media (any-hover: hover) {
      &:hover {
        border-color: var(--color-accent);
      }
    }
  }

  &.swiper-slide {
    height: auto;
    max-width: rem(360);

    @media (max-width: $breakpoint768) {
      max-width: rem(280);
    }
  }
}
