.technology {
  padding: var(--padding-sub) 0;
  background-color: var(--color-light);

  &__container {
  }

  &__descr {
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  &__text {
    font-weight: 400;
    font-style: normal;
    font-size: rem(18);
    line-height: 1.6;
    color: var(--color-text);
  }

  &__descr-hight {
    font-weight: 600;
    font-size: var(--h3);
    line-height: 1.6;
    color: var(--color-dark);
  }

  &__icons {
    display: grid;
    justify-items: center;
    grid-auto-flow: dense;
    grid-template-columns: repeat(6, 1fr);
    margin-top: var(--padding-small);
    gap: rem(40) rem(20);

    @media (max-width: $breakpoint576) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__icon {
    filter: grayscale(60%) drop-shadow(rem(4) rem(4) rem(10));
    transition: filter 0.3s ease-in-out;

    &--big {
      grid-column: span 3;
    }

    &--ext-big {
      grid-column: span 3;
    }

    &:hover {
      filter: grayscale(10%) drop-shadow(rem(4) rem(4) rem(6));
    }
  }
}
