@font-face {
  src: local("Jost-Regular"), url("../fonts/Jost-Regular.woff2") format("woff2");
  font-family: "Jost";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: local("Jost-SemiBold"), url("../fonts/Jost-SemiBold.woff2") format("woff2");
  font-family: "Jost";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
