@use "sass:math";

// LHC вычисление высоты строки в долях
@function lhc($hight, $textsize) {
  @return math.div(math.ceil(math.div($hight, $textsize) * 100), 100);
}

// REM
@function rem($pixels, $context: 16) {
  @return math.div($pixels, $context) + rem;
}

// EM
@function em($pixels, $context: 16) {
  @return math.div($pixels, $context) + em;
}

// Percent
@function percent($px, $from) {
  @return math.div($px, $from) * 100%;
}

// clamp PX
// параметры    . мин размер экр . макс разм экр . мин размер эл . макс размер эл
@function clamp-px($min-w, $max-w, $size-at-min-w, $size-at-max-w) {
  $min-width: $min-w;
  $max-width: $max-w;
  $size-at-min-width: $size-at-min-w;
  $size-at-max-width: $size-at-max-w;
  $slope: math.div(($size-at-max-width - $size-at-min-width), ($max-width - $min-width));
  $y-axis-intersection: -1 * $min-width * $slope + $size-at-min-width;
  $y-axis-inte-ceil: #{math.div(math.ceil($y-axis-intersection * 10000), 10000)};
  $slope-ceil: #{math.div(math.ceil($slope * 10000), 10000) * 100vw};
  $flue-value: #{$y-axis-inte-ceil} + px "+" #{$slope-ceil};
  $return-value: #{"clamp(" #{$size-at-min-width} + px "," #{$flue-value} "," #{$size-at-max-width} + px ")"};

  @return $return-value;
}

// clamp REM
// параметры  . мин размер экр . макс разм экр . мин размер эл . макс размер эл
@function clamp-rem($min-w, $max-w, $size-at-min-w, $size-at-max-w, $font-rem: 16) {
  $min-width: math.div($min-w, $font-rem);
  $max-width: math.div($max-w, $font-rem);
  $size-at-min-width: math.div($size-at-min-w, $font-rem);
  $size-at-max-width: math.div($size-at-max-w, $font-rem);
  $slope: math.div(($size-at-max-width - $size-at-min-width), ($max-width - $min-width));
  $y-axis-intersection: -1 * $min-width * $slope + $size-at-min-width;
  $y-axis-inte-ceil: #{math.div(math.ceil($y-axis-intersection * 10000), 10000)};
  $slope-ceil: #{math.div(math.ceil($slope * 10000), 10000) * 100vw};
  $flue-value: #{$y-axis-inte-ceil} + rem "+" #{$slope-ceil};
  $return-value: #{"clamp(" #{$size-at-min-width} + rem "," #{$flue-value} "," #{$size-at-max-width} + rem ")"};

  @return $return-value;
}
