@use "sass:math";

// lhc($hight, $textsize)
// rem($pixels, $context: 16)
// em($pixels, $context: 16)
// percent($px, $from)
// clamp-px($min-w, $max-w, $size-at-min-w, $size-at-max-w)
// clamp-rem($min-w, $max-w, $size-at-min-w, $size-at-max-w, $font-rem: 16)
@import "base/function";
@import "base/fonts";
@import "base/reset";
@import "base/vars";
@import "base/base";
@import "base/svg_bg";

// ======================================================================================

/* Section */
@import "section/global";
@import "./blocks/modals";
@import "./blocks/ticker";
@import "./blocks/form";
// @import "./blocks/tabs";

// section base
@import "./section/header";
@import "./section/hero";
@import "./section/about";
@import "./section/services";
@import "./section/steps";
@import "./section/portfolio";
@import "./section/order";
@import "./section/reviews";
@import "./section/technology";
@import "./section/contact";

// footer
@import "./section/footer";

// ========= section 2
